body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    
}
.dialogPanel {
    background-color: rgb(255, 255, 255);
    position: absolute;
}
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 5px;
    float: left;
    font-size: 16px;
  }
  label {
    margin: 0;
    padding: 10px;
    font-size: 16px;
  }
/* .btn {
    .btn-light{

        padding: 15px;
    }
} */
 .checked {
    color: rgb(0, 0, 0);
    text-decoration: line-through;
  }
/* #container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;
   #content {
       padding: 30px 50px;
       a {
        font-size: 1.2em;
        text-decoration: none;
        font-weight: bold;
        color:#00A8FF;
        }
       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 10px;
               margin-bottom: 8px;
               font-size: 1.1em;
               a {
                   font-size: 1.5em;
                   text-decoration: none;
                   font-weight: bold;
                   color:rgb(0, 0, 0);
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding: 0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                       
                   }
               }
           }
       }
   }
} */